body {
    background: #567;
    color: #bcd;
    margin: 0;
    font-family: serif;
}

h1, h2 {
    font-family: Calibri;
}

header {
    height: 50px;
    width: 100%;
    background: #123;
    margin: 0;
    position: fixed;
    box-shadow: 0 1px 10px #123;
    font-family: Calibri;
}

header nav ul {
    padding: 0 50px;
}
header nav {
    width: 100%;
    text-align: right;
}

header nav ul li {
    display: inline;
    margin-left: 15px;
}

header nav ul li:first-of-type {
    float: left;
    margin-left: 0;
}

header nav a {
    color: #bcd;
    text-decoration: none;
    background: #234;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 20px #1237;
    border: 2px solid #456;
}

header nav a:hover {
    background: #456;
}

main {
    min-height: 1200px;
    padding: 50px;
    padding-top: 75px;
}

section {
    margin: 10px;
    border-radius: 15px;
    box-shadow: 0 0 20px #345 inset;
    background: #456;
    width: calc(50% - 50px);
}

section.information {
    clear: left;
    float: left;
}

section.album {
    clear: right;
    float: right;
}

section.album img {
    height: 200px;
    float: right;
    border-radius: 15px;
}

section.information {
    padding: 0 20px;
}

section.album p, section.album h2 {
    padding: 0 20px;
    float: left;
}

section.album img:hover {
    box-shadow: 0 0 5px 1px #0afa;
    border-radius: 0;
    transform: scale(1.05);
}