body {
    background: #567;
    color: #bcd;
    margin: 0;
    font-family: serif;
}

h1, h2 {
    font-family: Calibri;
}

header {
    height: 50px;
    width: 100%;
    background: #123;
    margin: 0;
    position: fixed;
    box-shadow: 0 1px 10px #123;
    font-family: Calibri;
    padding: 5px;
    z-index: 10;
}

header nav ul {
    padding: 0 50px;
}
header nav {
    width: 100%;
    text-align: right;
}

header nav ul li {
    display: inline;
    margin-left: 15px;
}

header nav ul li:first-of-type {
    float: left;
    margin-left: 0;
}

header nav a {
    color: #bcd;
    text-decoration: none;
    background: #234;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 20px #1237;
    border: 2px solid #456;
}

header nav a:hover {
    background: #456;
}

main {
    min-height: 1200px;
    padding: 50px;
    padding-top: 75px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

section {
    margin: 10px;
    border-radius: 15px;
    box-shadow: 0 0 20px #345 inset;
    background: #456;
    width: calc(50% - 20px);
    box-sizing: border-box;
    position: relative;
}

section p {
    float: left;
    clear: left;
}

section.album img {
    height: 200px;
    float: right;
    border-radius: 15px;
}

section.album p, section.album h2 {
    padding: 0 20px;
    float: left;
}

section.album img:hover {
    box-shadow: 0 0 5px 1px #0afa;
    border-radius: 0;
    transform: scale(1.05);
}

section.input {
    width: 100%;
    padding: 20px;
}

section .notes {
    position: absolute;
    bottom: 0px;
    color: #89a;
}

@media (max-width: 1000px) {
    header {
        height: auto;
        position: static;
    }

    section {
        width: 100%;
    }

    main {
        padding-top: 10px;
    }
}